<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('../partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/settings.css" />
    <link rel="stylesheet" href="/css/client.css">
    <title>Client Registration</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            Register Client
            <div class="miniLine"></div>
        </div>
        <div class="formContainer">
            <form action="/client/register" method="POST" id="clientForm">
                <div class="form-group">
                    <legend>Basic Information
                        <div class="longLine"></div>
                    </legend>
                    <span class="detailTitle">Domain Name</span>
                    <input type="text" name="domain" id="domain" placeholder="www.example.com" />
                    <span class="detailTitle">Description</span>
                    <textarea name="description" id="description"></textarea>
                </div>
                <button class="btn" id="roleBtn" type="button">Add New Role</button>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </div>

    <script>
        let roleCount = 0;
        $('#roleBtn').click(() => {
            const roleDiv = document.createElement('fieldset');
            roleDiv.classList.add('roleField')
            roleDiv.innerHTML = `
            <legend>New Role</legend>
                    <span class="detailTitle">Role Name</span>
                    <input type="text" name="custom_roles[${roleCount}][name]" id="name">
                    <span class="detailTitle">Regular Expressions</span>
                    <div class="longLine"></div>
                    <div class="inline">
                        <span class="detailTitle">First Name</span>
                        <input type="text" name="custom_roles[${roleCount}][regex][firstname]">
                    </div>
                    <div class="inline">
                        <span class="detailTitle">Last Name</span>
                        <input type="text" name="custom_roles[${roleCount}][regex][lastname]">
                    </div>
                    <div class="inline">
                        <span class="detailTitle">Entry Number</span>
                        <input type="text" name="custom_roles[${roleCount}][regex][entry_num]">
                    </div>
                    <div class="inline">
                        <span class="detailTitle">Username</span>
                        <input type="text" name="custom_roles[${roleCount}][regex][username]">
                    </div>
                    <div class="inline">
                        <span class="detailTitle">Email</span>
                        <input type="text" name="custom_roles[${roleCount}][regex][email]">
                    </div>
            `;
            $(roleDiv).insertBefore('button[type="submit"]');
            roleCount += 1;
        });
    </script>
</body>

</html>