<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <%- include('partials/assets'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="rootContainer">
            <div class="pageTitle">
                About
            </div>
            <div class="miniLine"></div>
            <p class="textParagraph">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto ab saepe veniam,
                nihil delectus quidem nobis commodi praesentium debitis voluptate magnam eligendi
                odio perferendis repellendus eos est cumque sapiente impedit?
            </p>
            <a href="https://github.com/devclub-iitd/SingleSignOn" target="_blank">
                <div class="btn fixedBtn">
                    github repo
                </div>
            </a>
        </div>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>
