<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            About
        </div>
        <div class="miniLine"></div>
        <p class="textParagraph">
            Common Account Sign In, like the name says is a unified solution aimed at providing a seamless,
            accessible and convenient experience to all users. All the user needs anymore is one account for any
            service that our team provides.
        </p>
        <a href="https://github.com/devclub-iitd/SingleSignOn" target="_blank">
            <div class="btn fixedBtn">
                github repo
            </div>
        </a>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>

</html>