<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            About
        </div>
        <div class="miniLine"></div>
        <p class="textParagraph">
            <b>Common Account Sign In</b>, or as we like to call it
            <b>"CASI"</b>, is a unified solution aimed at providing a
            <i>seamless, accessible and convenient experience</i> to all our
            users. All you need is one account for any and all services that
            our team provides.
            <br />
            <br />
            You can even login using your other social accounts so that
            you don't have to remember an extra password <b>; )</b>
            <br />
            <i>
                (Because we all know how that goes)
            </i>
            <br />
            <br />
            <b>
                Feel free to look around and check down below to explore
                some of our services
            </b>
        </p>
        <a href="https://github.com/devclub-iitd/SingleSignOn" target="_blank" rel="noreferrer noopener">
            <div class="btn fixedBtn">
                github repo
            </div>
        </a>
        <a href="https://devclub.in/#/" target="_blank" rel="noreferrer noopener">
            <div class="btn fixedBtn">
                Contact us
            </div>
        </a>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>

</html>