<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>CASI | Verify Email</title>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer rootContainerFull bg-wave">
        <div class="pageTitle">Verify Email</div>
        <div class="miniLine"></div>
        <% if (locals.message) { %>
        <% if (error) { %>
        <div class="messageContainer error">
            <% } else { %>
            <div class="messageContainer success">
                <% } %>
                <%= message %>
            </div>
            <% } %>
            <div class="formContainer" style="margin: 10px auto;">
                <form action="/auth/email/verify" method="POST">
                    <div class="input-group">
                        <input type="email" name="email" required />
                        <label for="email">E-Mail</label>
                        <span class="helpText">Please enter a valid E-Mail</span>
                    </div>
                    <button type="submit" class="btn">Verify</button>
                </form>
                <p class="textParagraph">
                    <i>Wanna try again? <a href="/user/login" class="hLink">Login!</a></i>
                </p>
            </div>
        </div>
        <%- include('partials/footer'); %>
        <script src="/js/forms.js"></script>
        <script>
            if ($('.messageContainer').text().length > 0) {
                setTimeout(() => {
                    $('.messageContainer').fadeOut(300);
                }, 3000);
            }
        </script>
</body>

</html>