<html lang="en">

<head>
    <meta charset="UTF-8" />
    <%- include('partials/assets'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Home</title>
    <script>
        $(document).ready(() => {

            const clearDisplay = () => {
                // Initially no section displayed
                $('.userRedirecting').css('display', 'none');
                $('.userLoggedIn').css('display', 'none');
                $('.userLoggedOut').css('display', 'none');
                $('#userFirstName').text('');
                $('.userLoggedIn .userFullName').text('');
                $('.userLoggedIn .userEmailID').text('');
                $('.userLoggedIn .userUsername').text('');
            };

            clearDisplay();

            const userDetailFailure = (message) => {
                clearDisplay();
                displayMessage(message);
                $('.userLoggedOut').css('display', 'block');
            };

            const userDetailSuccess = (user) => {
                const { firstname, lastname, email, username } = user;
                const userFullName = `${firstname} ${lastname}`;
                clearDisplay();
                $('#userFirstName').text(firstname);
                $('.userLoggedIn .userFullName').text(userFullName);
                $('.userLoggedIn .userEmailID').text(email);
                $('.userLoggedIn .userUsername').text(username);
                $('.userLoggedIn').css('display', 'flex');
            }

            getUserDetails(userDetailSuccess, userDetailFailure);

            $('#logoutBtn').click(() => {
                logoutUser();
            });
        });
    </script>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer" style="padding-bottom: 200px; background-image: url('/images/background.png'); background-size: cover; background-repeat: no-repeat; background-position-y: 160px;">
        <div class="pageTitle" style="font-size: 2rem; margin-top: 60px;">
            Common Account Sign In
        </div>
        <div class="miniLine"></div>
        <div class="userLoggedOut">
            <p class="textParagraph">
                <b>
                    <i>
                        "One account to rule them all."
                    </i>
                </b>
                <br></br>
                <span>
                    A single account is all you need anymore for everything DevClub.
                </span>
                <span>
                    All our services available to you at the click of a button.
                </span>
                <br />
                <span>
                    <i>
                        So what are you waiting for?
                    </i>
                </span>
            </p>
            <div class="messageContainer error" style="display: none;"></div>

            <a href="/user/login">
                <div class="btn invertBtn fixedBtn" style="margin-top: 80px;">
                    Login Now!
                </div>
            </a>
            <!-- <img src="/images/background.png" id="homeBackgroundImage" alt="flowCover"> -->
        </div>
        <div class="userLoggedIn">
            <p class="textParagraph">
                <b>Welcome <span id="userFirstName"></span>,</b>
                this is your one stop account for everything Devclub
            </p>
            <div class="userDetailContainer">
                <div class="detail">
                    <span class="detailTitle">
                        Name:
                    </span>
                    <span class="detailContent userFullName"></span>
                </div>
                <div class="detailMiniLine"></div>
                <div class="detail">
                    <span class="detailTitle">
                        Email ID:
                    </span>
                    <span class="detailContent userEmailID"></span>
                </div>
                <div class="detailMiniLine"></div>
                <div class="detail">
                    <span class="detailTitle">
                        Username:
                    </span>
                    <span class="detailContent userUsername"></span>
                </div>
            </div>
            <div class="btnContainer">
                <a href="/profile/settings">
                    <div class="btn invertBtn fixedBtn">
                        settings
                    </div>
                </a>
                <a href="https://devclub.in/#/" target="_blank">
                    <div class="btn invertBtn fixedBtn">
                        visit devclub
                    </div>
                </a>
            </div>
            <div class="btn fixedBtn redBtn" id="logoutBtn">
                Logout
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>

</html>