<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <%- include('partials/assets'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css" />
        <title>Home</title>
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="rootContainer">
            <div class="pageTitle">
                Single Sign On
            </div>
            <div class="miniLine"></div>
            <p class="textParagraph">
                <b>Welcome Aryan,</b>
                this is your one stop account for everything Devclub
            </p>
            <div class="userDetailContainer">
                <div class="detail">
                    <span class="detailTitle">
                        Name:
                    </span>
                    <span class="detailContent">
                        Aryan Gupta
                    </span>
                </div>
                <div class="detailMiniLine"></div>
                <div class="detail">
                    <span class="detailTitle">
                        Email ID:
                    </span>
                    <span class="detailContent">
                        aryanguptaleo@gmail.com
                    </span>
                </div>
                <div class="detailMiniLine"></div>
                <div class="detail">
                    <span class="detailTitle">
                        Username:
                    </span>
                    <span class="detailContent">
                        aryangupta
                    </span>
                </div>
            </div>
            <div class="btnContainer">
                <a href="/">
                    <div class="btn fixedBtn">
                        settings
                    </div>
                </a>
                <a href="https://devclub.in/#/" target="_blank">
                    <div class="btn fixedBtn">
                        visit devclub
                    </div>
                </a>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>
