<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <%- include('partials/assets'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/register.css" />
        <title>Register</title>
        <script>
            $(document).ready(() => {
                if ($('.messageContainer').length > 0) {
                    setTimeout(() => {
                        $('.messageContainer').css('opacity', '0');
                    }, 3000);
                }
            })
        </script>
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="rootContainer">
            <div class="pageTitle">
                Register
            </div>
            <div class="miniLine"></div>
            <div class="tagLine">
                Just a couple more things to get you started
            </div>
            <div class="formContainer">
                <form action="" method="POST">
                    <div class="inputRow">
                        <input
                            id="inputRow1"
                            type="text"
                            placeholder="First Name..."
                            required
                        />
                        <input
                            id="inputRow2"
                            type="text"
                            placeholder="Last Name..."
                            required
                        />
                    </div>
                    <input type="text" placeholder="Username..." required />
                    <input
                        type="email"
                        placeholder="Enter your email ..."
                        required
                    />
                    <input
                        type="password"
                        placeholder="Enter your password ..."
                        required
                    />
                    <button type="submit" class="btn">
                        Let's go
                    </button>
                </form>
                <% if (message !== '') { %>
                    <% if (error) { %>
                        <div class="messageContainer error">
                        <% } else { %>
                        <div class="messageContainer success">
                        <% } %>
                            <%= message %>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('partials/footer'); %>
    </body>
</html>
