<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <%- include('partials/assets'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/settings.css" />
        <title>Settings</title>
        <script>
        $(document).ready(() => {
            $('#btn2').click(() => {
                $('.tab-item').removeClass('active');
                $('#btn2').addClass('active');
                $('#generalForm').fadeOut(200);
                $('#socialForm').fadeIn(200);
            });
            
            $('#btn1').click(() => {
                $('.tab-item').removeClass('active');
                $('#btn1').addClass('active');
                $('#socialForm').fadeOut(200);
                $('#generalForm').fadeIn(200);
            });

            const getUserDetailsSuccess = (user) => {
                $('input[name="firstName"]').val(user.firstname);
                $('input[name="lastName"]').val(user.lastname);
                $('input[name="newUsername"]').val(user.username);
                console.log(user);
            }
            const getUserDetailsFailure = (message) => {
                window.location.href = '/';
            }

            getUserDetails(getUserDetailsSuccess, getUserDetailsFailure);

            if ($('.messageContainer').length > 0) {
                setTimeout(() => {
                    $('.messageContainer').fadeOut(200)
                }, 4000);
            }

            $.ajax({
                method: 'GET',
                url: '/profile/connections',
                success: (data,status,a) => {
                    const connections = data.connections
                    if(connections){
                        console.log(connections);
                        connections.forEach((connection) => {
                            $(`#${connection.provider} > h4`).text('Connected')
                            $(`#${connection.provider} > a`).text('Click here to disconnect')
                            $(`#${connection.provider} > a`).attr('href','')
                            $(`#${connection.provider} > a`).on('click', (e) => {
                                e.preventDefault();
                                $.ajax({
                                    method: 'POST',
                                    url: `/profile/disconnect/${connection.provider}`,
                                    success: (data,status,a) => {
                                        location.reload();
                                    }
                                })
                            })
                        })
                    }
                },
                error: (a,msg,errorThrown) => {console.error(errorThrown);}
            })
        });
    </script>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="rootContainer">
        <div class="pageTitle">
            Settings
        </div>
        <div class="miniLine"></div>
        <% if (messages) { %>
        <% messages.forEach( (msg) => { %>
        <% if (msg.message !== '') { %>
            <% if (msg.error) { %>
            <div class="messageContainer error">
                <% } else { %>
                <div class="messageContainer success">
                    <% } %>
                    <%= msg.message %>
                </div>
                <% } %>
        <% })} %>
        <div class="formContainer">
            <div class="tabContainer">
                <ul class="tabs">
                    <li class="tab-item active" id="btn1"><a href="#" class="tab-link">General</a></li>
                    <li class="tab-item" id="btn2"><a href="#" class="tab-link">Social</a></li>
                    <li class="tab-item" id="btn3"><a href="#" class="tab-link">Email</a></li>
                </ul>
            </div>
            <form action="/profile/settings" method="POST" id="generalForm" class="tab-content">
                <div class="form-group">
                    <legend>Personal Information <div class="long-line"></div></legend>
                    <div class="longLine"></div>
                    <div class="inline">
                        <div class="inline-group">
                            <span class="detailTitle">First Name</span>
                            <input type="text" name="firstName" placeholder="First Name" id="firstName" tabindex="1">
                        </div>
                        <div class="inline-group">
                            <span class="detailTitle">Last Name</span>
                            <input type="text" name="lastName" placeholder="Last Name" id="lastName" tabindex="2">
                        </div>
                    </div>
                    <span class="detailTitle">Username</span>
                    <input type="text" name="newUsername" placeholder="Enter new Username" id="newUsername" autocomplete="username" tabindex="3">
                </div>
                <div class="form-group">
                    <legend>Update Password  <div class="long-line"></div></legend>
                    <div class="longLine"></div>
                    <span class="detailTitle">New Password</span>
                    <input type="password" name="newPassword" autocomplete="new-password" placeholder="Enter new Password" id="newPassword" tabindex="4">
                    <span class="detailTitle">Current Password</span>
                    <input type="password" name="password" placeholder="Enter current Password" id="password" tabindex="5">
                </div>
                <button type="submit" class="btn">
                    Update!
                </button>
            </form>
            <div class="socialLinkContainer" id="socialForm" class="tab-content">
                <fieldset>
                    <legend>Kerberos</legend>
                    <ul>
                        <li id="iitd" class="socialLink">
                            <img src="/images/iitdlogo.png" alt="" class="socialIcon">
                            <h4 class="socialInfo">Not currently linked</h4>
                            <a href="/auth/iitd"> Click here to connect </a>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Social</legend>
                    <ul>
                        <li id="facebook" class="socialLink">
                            <img src="/images/Facebook.svg" alt="" class="socialIcon">
                            <h4 class="socialInfo">Not currently linked</h4>
                            <a href="/auth/facebook"> Click here to connect </a>
                        </li>
                        <li id="github" class="socialLink">
                            <img src="/images/Github.svg" alt="" class="socialIcon">
                            <h4 class="socialInfo">Not currently linked</h4>
                            <a href="/auth/github"> Click here to connect </a>
                        </li>
                        <li id="google" class="socialLink">
                            <img src="/images/Google.svg" alt="" class="socialIcon">
                            <h4 class="socialInfo">Not currently linked</h4>
                            <a href="/auth/google"> Click here to connect </a>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>

</html>