.userLoggedIn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userDetailContainer {
    width: 30%;
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 30px;
}
.detailTitle {
    color: rgba(40, 116, 255, 0.872);
    font-weight: 800;
}
.detailContent {
    margin-left: 5px;
}
.detailMiniLine {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 20px 0px;
}
.btnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.btnContainer .btn {
    margin: 5px 15px;
}
.loaderContainer {
    margin: 20px auto;
    padding: 20px;
}
.loaderCircle {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    border: 4px solid;
    opacity: 0.8;
    border-color: rgba(40, 116, 255, 0.872) black;
    margin: auto;
    animation: rotate 1.5s infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
