:root {
    --theme-color: rgba(40, 116, 255, 0.872);
    --input-border-color: rgba(40, 115, 255, 0.514);
    --error-color: rgba(223, 0, 0, 0.829);
}
.formContainer {
    width: 40%;
    height: auto;
    padding-top: 20px;
    min-width: 300px;
    margin: auto;
}
.formContainer form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 20px;
}

.input-group {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input-group input {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    transition: border 0.1s ease;
}

.input-group label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    color: grey;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.1s ease;
}

.input-group input:focus + label,
.input-group input.hasContent + label {
    transform: translateY(-140%) translateX(5px);
    font-size: 12px;
    font-weight: 600;
    color: var(--theme-color);
    background: white;
}

.input-group input:focus,
.input-group input.hasContent {
    border: 1px solid var(--input-border-color);
}

.hasError {
    border: 1px solid var(--error-color) !important;
}

.hasError + label {
    transform: translateY(-140%) translateX(5px);
    font-size: 12px;
    font-weight: 600;
    color: var(--error-color) !important;
    background: white;
}

.helpText {
    /* opacity: 0; */
    display: none;
    position: absolute;
    bottom: -17px;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--error-color);
}

input:hover {
    border: 1px solid var(--input-border-color);
}

.inputRow .btn {
    width: 100%;
    max-width: 200px;
    margin-bottom: 2rem;
}

/* input:focus {
    border: 1px solid var(--theme-color);
}
::-webkit-input-placeholder {
    transition: 0.3s ease-out;
}
input:focus::-webkit-input-placeholder {
    transform: translateX(10px);
    opacity: 0;
} */
#loginBtn {
    color: var(--theme-color);
    margin-left: 5px;
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .helpText {
        font-size: 10px;
    }
}
