<div class="footer">
    <div class="footerSection">
        <img src="/images/Logo.svg" alt="devclub logo" class="footerLogo" />
    </div>
    <div class="footerSection footerSectionDetails">
        <div class="footerTitle">
            <h1>
                CASI | Common Account Sign In
            </h1>
        </div>
        <div class="miniLine footerline"></div>
        <div class="credits">
            Made with <span style="color: red;">❤</span> by DevClub
        </div>
        <br />
        <div class="projectListContainer">
            <h2>Our Projects:</h2>
            <br />
            <ul class="projectList">
                <a href="https://portfolio.devclub.in" target="_blank" rel="noreferrer noopener">
                    <li>Portfolio Creator</li>
                </a>
                <a href="https://yearbook.devclub.in" target="_blank" rel="noreferrer noopener">
                    <li>Yearbook</li>
                </a>
                <a href="https://study.devclub.in" target="_blank" rel="noreferrer noopener">
                    <li>Citadel</li>
                </a>
                <a href="#" aria-disabled="true">
                    <li>IIT Delhi Connect</li>
                </a>
                <a href="#" aria-disabled="true">
                    <li>Cab Sharing Portal</li>
                </a>
                <a href="#" aria-disabled="true">
                    <li>IIT Delhi Market</li>
                </a>
            </ul>
        </div>
        <a href="/privacy-policy" id="privacy">Privacy Policy</a>
    </div>
</div>