<div class="footer">
    <div class="footerSection">
        <img src="/images/Logo.svg" alt="devclub logo" class="footerLogo" />
    </div>
    <div class="footerSection footerSectionDetails">
        <div class="footerTitle">
            <h1>
                CASI | Common Account Sign In
            </h1>
        </div>
        <div class="miniLine footerline"></div>
        <div class="credits">
            Made with <span style="color: red;">❤</span> by DevClub
        </div>
        <br />
        <div class="projectListContainer">
            <h2>Our Projects:</h2>
            <br />
            <ul class="projectList">
                <a href="">
                    <li>Portfolio Creator</li>
                </a>
                <a href="">
                    <li>IIT Delhi Connect</li>
                </a>
                <a href="">
                    <li>Cab Sharing Portal</li>
                </a>
                <a href="">
                    <li>Yearbook</li>
                </a>
                <a href="">
                    <li>Citadel</li>
                </a>
                <a href="">
                    <li>IIT Delhi Market</li>
                </a>
            </ul>
        </div>
    </div>
</div>