<nav>
    <div class="header">
        <div class="headerTitle">
            <h2>SSO <span>@ Devclub IIT Delhi</span></h2>
        </div>
        <div class="navCont">
            <div class="headerBtn">
                Home
            </div>
            <div class="headerBtn">
                About
            </div>
            <div class="headerBtn">
                Login
            </div>
            <div class="headerBtn">
                Register
            </div>
        </div>
    </div>
</nav>
