<nav>
    <div class="header">
        <div class="mainNav">
            <div class="headerTitle">
                <a href="/">
                    <h2>CASI <span>@ Devclub IIT Delhi</span></h2>
                </a>
            </div>
            <div class="navCont">
                <a href="/">
                    <div class="headerBtn">
                        Home
                    </div>
                </a>
                <div class="collapseNav">
                    <a href="/about">
                        <div class="headerBtn">
                            About
                        </div>
                    </a>
                    <a href="/client" id="clientBtn" style="display: none;">
                        <div class="headerBtn">
                            Client
                        </div>
                    </a>
                    <a href="/user/login" class="LoginBtn" style="display: none;">
                        <div class="headerBtn">
                            Login
                        </div>
                    </a>
                </div>
                <img src="/images/menu.svg" id="menuBtn">
            </div>
        </div>
        <div class="collapse">
            <a href="/about">
                <div class="headerBtn">
                    About
                </div>
            </a>
            <a href="/client" id="clientBtn" style="display: none;">
                <div class="headerBtn">
                    Client
                </div>
            </a>
            <a href="/user/login" class="LoginBtn" style="display: none;">
                <div class="headerBtn">
                    Login
                </div>
            </a>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            const userDetailSuccess = (user) => {
                $('.LoginBtn .headerBtn').html('Logout');
                $('.LoginBtn').attr('href', '/');
                $('.LoginBtn').css('display', 'block');
                $('.LoginBtn').click(() => {
                    logoutUser();
                });
            };

            const userDetailFailure = () => {
                $('.LoginBtn').css('display', 'block');
                if (window.location.href.indexOf('register') > 0) {
                    $('.LoginBtn').css('display', 'none');
                }
                if (window.location.href.indexOf('login') > 0) {
                    const query = window.location.search;
                    $('.LoginBtn').attr(
                        'href',
                        `/user/login${query}`
                    );
                }
            };
            getUserDetails(userDetailSuccess, userDetailFailure);

            getPrivilege((priv) => {
                if (priv >= 2) {
                    $('#clientBtn').css('display', 'block');
                }
            });
            $('#menuBtn').click(() => {
                $('.collapse').fadeToggle(200);
            });
        });

    </script>
</nav>