<nav>
    <div class="header">
        <div class="headerTitle">
            <h2>SSO <span>@ Devclub IIT Delhi</span></h2>
        </div>
        <div class="navCont">
            <a href="/">
                <div class="headerBtn">
                    Home
                </div>
            </a>
            <a href="/about">
                <div class="headerBtn">
                    About
                </div>
            </a>
            <script>
                $(document).ready(() => {
                    const localtoken = window.localStorage.getItem('token');
                    if (typeof localtoken !== 'undefined' && localtoken) {
                        $('#headerLoginBtn .headerBtn').html('Logout');
                        $('#headerLoginBtn').attr('href', '/');
                        $('#headerLoginBtn').css('display', 'block');
                        $('#headerLoginBtn').click(() => {
                            window.localStorage.removeItem('token');
                        });
                    } else {
                        $('#headerLoginBtn').css('display', 'block');
                    }
                });
            </script>
            <a href="/user/login" id="headerLoginBtn" style="display: none;">
                <div class="headerBtn">
                    Login
                </div>
            </a>
        </div>
    </div>
</nav>
