<nav>
    <div class="header">
        <div class="headerTitle">
            <h2>SSO <span>@ Devclub IIT Delhi</span></h2>
        </div>
        <div class="navCont">
            <a href="/">
                <div class="headerBtn">
                    Home
                </div>
            </a>
            <a href="/about">
                <div class="headerBtn">
                    About
                </div>
            </a>
            <a href="/user/login">
                <div class="headerBtn">
                    Login
                </div>
            </a>
            <a href="/user/register">
                <div class="headerBtn">
                    Register
                </div>
            </a>
        </div>
    </div>
</nav>